<ng-container *transloco="let t; prefix: 'benefitsDemo'">
<div class="vital-signs-section">
  <div class="section-header">
    <h3>{{ t('nursingVitalSigns.sections.vitalSigns') }}</h3>
    <button
      mat-icon-button
      class="fhir-floating-button"
      [matTooltip]="t('nursingVitalSigns.tooltips.viewVitalFhir')"
      (click)="openVitalFhirDialog()">
      <mat-icon fontIcon="data_object"></mat-icon>
    </button>
  </div>

  <div class="vital-grid">
    <app-nursing-vital-card
      *ngFor="let sign of vitalSigns; trackBy: trackByKey"
      [patient]="patient"
      [emoji]="sign.emoji"
      [label]="sign.label"
      [unit]="sign.unit"
      [snomedCode]="sign.snomedCode"
      [loincCode]="sign.loincCode || ''"
      [isBloodPressure]="!!sign.isBloodPressure">
    </app-nursing-vital-card>
  </div>

  <div class="vital-history" *ngIf="patient">
    <div class="history-header">
      <h4>Measurement history</h4>
      <span class="history-count">{{ measurements.length }}</span>
    </div>

    <div class="history-table-wrap" *ngIf="measurements.length > 0; else noMeasurements">
      <table class="history-table">
        <thead>
          <tr>
            <th class="col-date">Date &amp; time</th>
            <th class="col-vital">Vital sign</th>
            <th class="col-value">Value</th>
            <th class="col-actions"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let m of measurements; trackBy: trackByMeasurementId">
            <td class="col-date">{{ m.dateLabel }}</td>
            <td class="col-vital">
              <span class="history-emoji" aria-hidden="true">{{ m.emoji }}</span>{{ m.label }}
            </td>
            <td class="col-value">
              <span class="history-value">{{ m.valueDisplay }}</span>
              <span class="history-unit">{{ m.unit }}</span>
            </td>
            <td class="col-actions">
              <button
                mat-icon-button
                color="warn"
                class="history-delete"
                (click)="deleteMeasurement(m)"
                matTooltip="Delete measurement">
                <mat-icon>delete_outline</mat-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <ng-template #noMeasurements>
      <div class="history-empty">No measurements recorded yet.</div>
    </ng-template>
  </div>
</div>
</ng-container>
