<h2 mat-dialog-title class="valueset-dialog-title">
  <span>{{ dialogTitle }}</span>
  <a href="#" (click)="openInNewTab(); $event.preventDefault()" class="open-new-tab-link" title="Open in new tab">
    <mat-icon>open_in_new</mat-icon>
  </a>
</h2>
<div class="iframe-container">
  <div class="loading-overlay" *ngIf="isLoading">
    <mat-spinner diameter="50"></mat-spinner>
    <p class="loading-text">Loading...</p>
  </div>
  <iframe 
    [src]="safeUrl" 
    class="valueset-iframe"
    frameborder="0"
    allowfullscreen
    (load)="onIframeLoad()">
  </iframe>
</div>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>

