<h2 mat-dialog-title class="dialog-title">
  Generated Data
  <button mat-icon-button (click)="dialogRef.close()" aria-label="Close data dialog">
    <mat-icon>close</mat-icon>
  </button>
</h2>

<mat-dialog-content class="dialog-content">
  <mat-tab-group [(selectedIndex)]="selectedTab" mat-stretch-tabs="false" mat-align-tabs="start" class="data-tabs">
    <mat-tab label="Data collected from form">
      <div class="tab-content">
        <div class="tab-actions">
          <button mat-icon-button (click)="downloadCurrentTab()" matTooltip="Download">
            <mat-icon fontIcon="cloud_download"></mat-icon>
          </button>
          <button mat-icon-button (click)="copyCurrentTab()" matTooltip="Copy">
            <mat-icon fontIcon="content_copy"></mat-icon>
          </button>
        </div>
        <textarea highlight-js [options]="{}" [lang]="'json'" class="json-output" [innerHTML]="data.responseStr" wrap="soft"></textarea>
      </div>
    </mat-tab>

    <mat-tab label="Data collected (FHIR Bundle)">
      <div class="tab-content">
        <div class="tab-actions">
          <button mat-icon-button (click)="downloadCurrentTab()" matTooltip="Download">
            <mat-icon fontIcon="cloud_download"></mat-icon>
          </button>
          <button mat-icon-button (click)="copyCurrentTab()" matTooltip="Copy">
            <mat-icon fontIcon="content_copy"></mat-icon>
          </button>
        </div>
        <textarea highlight-js [options]="{}" [lang]="'json'" class="json-output" [innerHTML]="data.responseBundleStr" wrap="soft"></textarea>
      </div>
    </mat-tab>

    <mat-tab label="FHIR Questionnaire">
      <div class="tab-content">
        <div class="tab-actions">
          <button mat-icon-button (click)="downloadCurrentTab()" matTooltip="Download">
            <mat-icon fontIcon="cloud_download"></mat-icon>
          </button>
          <button mat-icon-button (click)="copyCurrentTab()" matTooltip="Copy">
            <mat-icon fontIcon="content_copy"></mat-icon>
          </button>
        </div>
        <textarea highlight-js [options]="{}" [lang]="'json'" class="json-output" [innerHTML]="data.fhirQuestionnaireStr" wrap="soft"></textarea>
      </div>
    </mat-tab>
  </mat-tab-group>
</mat-dialog-content>
