<ng-container *transloco="let t; prefix: 'benefitsDemo'">
<div class="vital-card">
  <div class="vital-card-header">
    <span class="vital-emoji">{{ emoji }}</span>
    <span class="vital-label">{{ label }}</span>
  </div>

  <div class="vital-value-row">
    <span class="vital-value">{{ latestValue }}</span>
    <span class="vital-unit" *ngIf="latestValue !== noDataLabel">{{ unit }}</span>
  </div>
  <div class="vital-time">{{ t('nursingVitalCard.labels.last') }}: {{ latestTimestamp }}</div>

  <div class="vital-actions" *ngIf="allowEntry && !editOpen">
    <button mat-stroked-button type="button" (click)="openEditor()">
      {{ t('nursingVitalCard.actions.addNew') }}
    </button>
  </div>

  <div class="vital-editor" *ngIf="allowEntry && editOpen">
    <div class="bp-inputs" *ngIf="isBloodPressure; else singleInput">
      <mat-form-field appearance="outline">
        <mat-label>{{ t('nursingVitalCard.fields.systolic') }}</mat-label>
        <input matInput type="number" min="1" step="1" [(ngModel)]="draftSystolic">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>{{ t('nursingVitalCard.fields.diastolic') }}</mat-label>
        <input matInput type="number" min="1" step="1" [(ngModel)]="draftDiastolic">
      </mat-form-field>
    </div>
    <ng-template #singleInput>
      <mat-form-field appearance="outline">
        <mat-label>{{ label }}</mat-label>
        <input matInput type="number" [min]="min" [step]="step" [(ngModel)]="draftValue">
      </mat-form-field>
    </ng-template>

    <div class="editor-actions">
      <button mat-flat-button color="primary" type="button" (click)="save()">{{ t('nursingVitalCard.actions.save') }}</button>
      <button mat-button type="button" (click)="closeEditor()">{{ t('nursingVitalCard.actions.cancel') }}</button>
    </div>
  </div>
</div>
</ng-container>
