
<div class="main-row">
    <div class="col w-1/5">
    </div>
    <div class="diagram">
        <div class="row gap min-h-10">
        </div>
        <div class="row gap">
            <div *ngFor="let box of topRow" class="card label" [ngClass]="[box.type, box.results?.length ? 'pulse' : '']"
            [matTooltip]="box.results?.length ? 'Matches: ' + box.results.join(', ') : ''" matTooltipPosition="above" matTooltipShowDelay="300">
                {{ box.label }}
            </div>
        </div>
        <div class="row">
            <div class="col gap left">
                <div *ngFor="let box of leftCol"  class="card label" [ngClass]="[box.type, box.results?.length ? 'pulse' : '']">{{ box.label }}</div>
            </div>
            <div class="center-panel">
                <div class="row">
                    <div *ngFor="let box of topRow.slice(1, topRow.length -1 )" class="card square color" [ngClass]="box.type">
                        <ng-container *ngIf="box.title">
                            {{ box.type | titlecase }}
                        </ng-container>
                    </div>
                </div>
                <div class="row grow">
                    <div class="col narrow">
                        <div *ngFor="let box of leftCol.slice(1, leftCol.length -1)" class="card square color" [ngClass]="box.type">
                            <ng-container *ngIf="box.title">
                                {{ box.type | titlecase }}
                            </ng-container>
                        </div>
                    </div>
                    <div class="center-column">
                        <img src="assets/img/S-Logo-2.png" alt="SNOMED International" class="logo"/>
                        <app-autocomplete-binding [binding]="searchBinding" (selectionChange)="codeSelected($event)" [term]="selectedCodeTerm" class="w-full"></app-autocomplete-binding>
                    </div>
                    <div class="col narrow">
                        <div *ngFor="let box of rightCol.slice(1, rightCol.length -1)" class="card square color" [ngClass]="box.type">
                            <ng-container *ngIf="box.title">
                                {{ box.type | titlecase }}
                            </ng-container>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div *ngFor="let box of bottomRow.slice(1, bottomRow.length -1)" class="card square color" [ngClass]="box.type">
                        <ng-container *ngIf="box.title">
                            {{ box.type | titlecase }}
                        </ng-container>
                    </div>
                </div>
            </div>
            <div class="col gap right">
                <div *ngFor="let box of rightCol" class="card label" [ngClass]="[box.type, box.results?.length ? 'pulse' : '']">{{ box.label }}</div>
            </div>
        </div>
        <div class="row gap">
        <div *ngFor="let box of bottomRow" class="card label" [ngClass]="[box.type, box.results?.length ? 'pulse' : '']">{{ box.label }}</div>
        </div>
        <div class="row gap min-h-10">
        </div>
    </div>
    <div class="col">
    </div>
</div>