<mat-form-field class="example-full-width">
    <mat-label>{{ binding.title }}</mat-label>
    <!-- <input matInput placeholder="Enter integer value..." [(ngModel)]="value" (ngModelChange)="onTextChange($event)"> -->
    <input matInput
         type="number"
         placeholder="Enter integer value..."
         [(ngModel)]="value"
         (ngModelChange)="onValueChange($event)"
         pattern="^-?[0-9]\d*$"
         title="Only integer values are allowed">
    <mat-hint>{{ binding.note }}</mat-hint>
  </mat-form-field>