<div class="side-tab-content">
  <h3>All Records</h3>
  <div *ngIf="items.length > 0; else noSavedFindings" class="saved-findings-list">
    <app-dentistry-record-item
      *ngFor="let item of items"
      [item]="item"
      [interactive]="true"
      [showDelete]="true"
      (focus)="onFocus($event)"
      (toggleStatus)="onResolve($event)"
      (delete)="onDelete($event)">
    </app-dentistry-record-item>
  </div>
  <ng-template #noSavedFindings>
    <div class="empty-details">
      No saved dental records for this patient yet.
    </div>
  </ng-template>
</div>
