.main-panel {
    padding: 2rem;
    height: calc(100vh - 70px);
}

.intro {
    font-size: 1.1rem;
    /* font-family: "Times New Roman", Times, Georgia, "Garamond", serif; */
    text-align: justify;
    margin-bottom: 10px;
    line-height: 1.2;
}

.demos-panel {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem; /* Adjusted for spacing between cards */
    justify-content: center; /* Aligns items evenly */
    margin-top: 3rem;
}

.demo-card-wrapper {
    width: 300px; /* Fixed width for all cards */
}

.demo-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

mat-card-title {
    word-wrap: break-word;
    font-size: large;
    font-weight: bold;
}

mat-card-content {
    padding: 1rem;
    margin-bottom: 2rem;
}

mat-card-actions {
    border-top: 1px solid #e0e0e0; /* Light gray border */
    padding-top: 10px; /* Add some padding above the button */
    margin-top: auto; /* Push the actions to the bottom */
}

.center-image {
    text-align: center;
    margin-top: 4rem;
    margin-left: 20%;
    margin-right: 20%;
}

.transparent-image {
    opacity: 0.5; /* 50% transparency */
}

.text-container {
    text-align: justify;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: white;
    border: 1px solid #e0e0e0; /* Light gray border */  
}

.draft-banner {
    background-color: #ffcc00; /* Yellow background for visibility */
    color: #333; /* Dark text for contrast */
    text-align: center;
    font-weight: bold;
    padding: 10px;
    font-size: 1rem;
    border-bottom: 2px solid #e6b800;
    position: relative; /* Ensures it stays within the panel */
    margin-bottom: 1rem;
}
