<div class="question-container">
    <label class="question-label">{{ metric.question }}</label>
    <mat-radio-group class="radio-group" [(ngModel)]="metric.response" aria-labelledby="question-label">
      <mat-radio-button *ngFor="let option of [1, 2, 3, 4, 5]" [value]="option">
        <!-- The radio button will be empty, only labels for 1 and 5 will be shown outside the group -->
      </mat-radio-button>
    </mat-radio-group>
    <div class="labels">
      <span>{{ metric.label1 }}</span>
      <span class="end-label">{{ metric.label5 }}</span>
    </div>
  </div>
  