<h1 mat-dialog-title>ECL Builder</h1>
<div mat-dialog-content class="full-height">
    <snomed-ecl-builder (eclOutput)="eclChanged($event)"
    apiurl="https://dev-is-browser.ihtsdotools.org/snowstorm/snomed-ct"
    branch="MAIN/2023-01-31"
    :eclstring="{{ localEcl }}"
    v-on:eclOutput="eclChange"
    />
</div>
<div mat-dialog-actions class="actions">
  <!-- <button mat-button (click)="onNoClick()">No Thanks</button> -->
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
</div>