/* snoguess-main.component.css */
.snoguess-game {
    padding: 20px; /* Adjust padding as needed */
    border-radius: 8px;
    max-width: 80%; /* Set a max-width for larger screens */
    margin: auto; /* Center the game container */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: adds a subtle shadow for depth */
  }
  
  .term-display {
    font-size: 24px; /* Larger font for the term display */
    letter-spacing: 4px; /* Adds space between letters */
    word-break: break-all; /* Ensures the term wraps if it's too long for the container */
    margin-bottom: 20px; /* Adds some space before the next section */
  }
  
  .term-display span {
    padding: 0 4px; /* Optional: add padding to each character if you want more space */
  }
  
  /* Styles for hints list */
  .hints {
    background: #f7f7f7; /* Light background for the hints section */
    border-radius: 4px;
    padding: 10px;
    margin-top: 20px; /* Adds some space above the hints section */
  }
  
  .hints ul {
    list-style-type: none; /* Removes default list styling */
    padding: 0;
  }
  
  .hints li {
    margin-bottom: 5px; /* Adds space between hint items */
    background: #eef; /* Optional: different background for each hint */
    padding: 5px;
    border-radius: 4px;
  }
  
  /* Styles for the hit points display */
  .hit-points {
    font-weight: bold;
    color: #d9534f; /* Red color to indicate the importance of hit points */
  }
  
  /* Input and button styling */
  mat-form-field {
    width: 100%; /* Makes the input fields full width of the container */
    margin-bottom: 10px; /* Adds some space below each input field */
  }
  
  button {
    margin-right: 8px; /* Adds spacing between buttons if they're side by side */
  }
  
  .guess-field {
    display: flex; 
    align-items: flex-start;
    vertical-align: middle;
    gap: 10px;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column; /* Stack message and button vertically */
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  /* Dark overlay style */
  .overlay-dark {
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  }
  
  /* Transparent overlay style */
  .overlay-transparent {
    background-color: rgba(0, 0, 0, 0); /* Fully transparent */
  }
  
  .message {
    font-size: 4rem;
    text-align: center;
    margin-bottom: 20px; /* Space between message and button */
    font-weight: bolder;
  }

  .reveal {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px; /* Space between message and button */
    font-weight: bolder;
  }
  
  .won {
    color: #4CAF50; /* Green color for "Won" */
    text-shadow: black 2px 2px 2px;
  }
  
  .lost {
    color: #F44336; /* Red color for "Lost" */
    text-shadow: black 2px 2px 2px;
  }
  
  /* Optional: Style the button if needed */
  .overlay button {
    font-size: 1.5rem;
    padding: 10px 20px;
  }

  /* Add these styles to your component's CSS file */
  .loading-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
  }
  
  .progress-bar-message {
    color: black; /* Adjust the color as needed */
    font-size: larger; /* Adjust the font size as needed */
    margin-bottom: 10px; /* Adjust the space between the message and the progress bar */
    font-style: italic;
    font-weight: lighter;
  }
  
  .score {
    font-size: 1.6rem; /* Adjust the font size as needed */
    font-weight: bold;
  }

  .score-progression-panel {
    margin-top: 2rem;
  }
  
  .progress-bar-container {
    margin-top: 2rem;
    margin-bottom: 3rem;
    position: relative;
    background-color: #e0e0e0; /* Background of the progress bar container */
    border-radius: 5px; /* Optional: adds rounded corners */
  }
  
  .goal-indicator {
    position: absolute;
    bottom: 0px; /* Adjust based on the desired placement relative to the progress bar */
    width: 2px; /* Width of the indicator */
    height: 10px; /* Height of the indicator */
    background-color: #000; /* Default color, in case it's needed */
  }
  
  /* Individual styles for each goal level */
  .goal-indicator.bronze {
    background-color: #cd7f32; /* Bronze color */
  }
  
  .goal-indicator.silver {
    background-color: #C0C0C0; /* Silver color */
  }
  
  .goal-indicator.gold {
    background-color: #FFD700; /* Gold color */
  }
  
  .goal-indicator.platinum {
    background-color: #E5E4E2; /* Platinum color */
  }
  
  .goal-indicator.diamond {
    background-color: #3b49c4; /* Diamond color, resembling a bright light blue */
  }
  
  .trophy-icon {
    position: absolute;
    bottom: -35px; /* Position below the goal indicators */
    font-size: 24px; /* Icon size */
    width: 24px; /* Ensure a consistent width for alignment */
  }
  
  .trophy-icon.bronze {
    color: #cd7f32; /* Bronze color */
  }
  
  .trophy-icon.silver {
    color: #C0C0C0; /* Silver color */
  }

  .trophy-icon.gold {
    color: #FFD700; /* Silver color */
  }

  .trophy-icon.platinum {
    color: #E5E4E2; /* Silver color */
  }

  .trophy-icon.diamond {
    color: #3b49c4; /* Silver color */
  }
  
  /* Add classes for gold, platinum, and diamond colors */
  