<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer mode="over" class="example-sidenav">
    <div class="flex flex-col justify-center">
      <button mat-button [matMenuTriggerFor]="demosMenuN">Select Demonstrator</button>
      <mat-menu #demosMenuN="matMenu" class="wide-menu">
        <button mat-menu-item *ngFor="let demo of demos" (click)="navigate(demo)">{{demo.name}}</button>
      </mat-menu>

      <button mat-button [matMenuTriggerFor]="serverMenuN">FHIR Server: {{selectedServer.name}}</button>
      <mat-menu #serverMenuN="matMenu">
        <button mat-menu-item *ngFor="let server of fhirServers" (click)="setFhirServer(server)">{{server.name}}</button>
      </mat-menu>

      <button mat-button [matMenuTriggerFor]="editionsMenuN">Edition: {{selectedEdition}}</button>
      <mat-menu #editionsMenuN="matMenu" class="wide-menu">
        <span class="ml-4">Editions</span>
        <ng-container *ngFor="let mainItem of editionsDetails">
          <button mat-menu-item [matMenuTriggerFor]="sub_menu">{{ mainItem.editionName }}</button>
          <mat-menu #sub_menu="matMenu">
            <span class="ml-4">Versions / Releases</span>
            <button *ngFor="let subItem of mainItem.editions" mat-menu-item (click)="setEdition(subItem)">{{ subItem.resource.version }}</button>
          </mat-menu>
        </ng-container>
      </mat-menu>
      
      <button mat-button [matMenuTriggerFor]="menuN">Language: {{selectedLanguage}}</button>
      <mat-menu #menuN="matMenu">
        <button mat-menu-item *ngFor="let language of languages" (click)="setLanguage(language)">{{language}}</button>
      </mat-menu>

    </div>
  </mat-drawer>

  <mat-toolbar *ngIf="!embeddedMode">
    <button mat-icon-button (click)="drawer.toggle()" id="menu-button">
      <mat-icon>menu</mat-icon>
    </button>
    <a href="javascript:void(0)" (click)="navigate({url: 'home', type: 'internal'})"><img src="assets/img/small_logo.png" id="logo"></a>
    <span id="title">SNOMED CT Implementation Demos</span>
    <span id="short-title">Implementation Demos</span>
    <span class="example-spacer"></span>

    <button mat-flat-button color="accent" [matMenuTriggerFor]="demosMenu" class="bar-button">Select Demonstrator</button>
    <mat-menu #demosMenu="matMenu" class="wide-menu">
      <button mat-menu-item *ngFor="let demo of demos" (click)="navigate(demo)">{{demo.name}}</button>
    </mat-menu>
    
    <button mat-flat-button color="primary" [matMenuTriggerFor]="serverMenu" class="bar-button">FHIR Server: {{selectedServer.name}}</button>
    <mat-menu #serverMenu="matMenu">
      <button mat-menu-item *ngFor="let server of fhirServers" (click)="setFhirServer(server)">{{server.name}}</button>
    </mat-menu>

    <button mat-flat-button color="primary" [matMenuTriggerFor]="editionsMenu" class="bar-button">{{selectedEdition}}</button>
    <mat-menu #editionsMenu="matMenu" class="wide-menu">
      <span class="ml-4">Editions</span>
      <ng-container *ngFor="let mainItem of editionsDetails">
        <button mat-menu-item [matMenuTriggerFor]="sub_menu">{{ mainItem.editionName }}</button>
        <mat-menu #sub_menu="matMenu">
          <span class="ml-4">Versions / Releases</span>
          <button *ngFor="let subItem of mainItem.editions" mat-menu-item (click)="setEdition(subItem)">{{ subItem.resource.version }}</button>
        </mat-menu>
      </ng-container>
    </mat-menu>
    
    <button mat-flat-button color="primary" [matMenuTriggerFor]="menu" class="bar-button">
      {{selectedLanguage}}
      <span *ngIf="selectedLanRefsetConcept">*</span>
    </button>
    <mat-menu #menu="matMenu">
      <p *ngIf="selectedLanRefsetConcept" class="menu-text">Selected Language Refset</p>
      <p *ngIf="selectedLanRefsetConcept" class="menu-text">{{ selectedLanRefsetConcept.display }}</p>
      <p *ngIf="selectedLanRefsetConcept" class="menu-text">{{ selectedLanRefsetConcept.code }}</p>
      <button mat-menu-item [matMenuTriggerFor]="langCodes">Language Codes</button>
      <button mat-menu-item [matMenuTriggerFor]="langRefsets">Language refsets</button>
      <button mat-menu-item (click)="openLanguageDialog()">Advanced config</button>
    </mat-menu>

    <mat-menu #langCodes="matMenu">
      <button mat-menu-item *ngFor="let language of languages" (click)="setLanguage(language)">{{language}}</button>
    </mat-menu>

    <mat-menu #langRefsets="matMenu">
      <button mat-menu-item *ngFor="let langRefset of languageRefsets" (click)="setLanguageRefset(langRefset)">{{langRefset.display}}</button>
    </mat-menu>

    <a mat-flat-button href="https://github.com/IHTSDO/sct-implementation-demonstrator" target="_blank" color="primary" id="info-button">
      <mat-icon>info</mat-icon>
    </a>
  </mat-toolbar>
  <router-outlet></router-outlet>
</mat-drawer-container>
