<div class="node-shell">
  <app-constraint-operator-select
    class="focus-operator"
    [value]="model.operator ?? ''"
    [compact]="compact"
    [readonly]="readonly"
    (valueChange)="updateOperator($event)">
  </app-constraint-operator-select>

  <app-concept-picker
    class="concept-picker"
    [label]="label"
    [note]="note"
    [ecl]="conceptEcl"
    [conceptId]="currentConceptId"
    [readonly]="readonly"
    [compact]="compact"
    [allowWildcard]="allowWildcard"
    [appearance]="'outline'"
    (conceptIdChange)="updateConceptId($event)">
  </app-concept-picker>
</div>
