.chip {
    display: inline-flex;
    flex-direction: row;
    background-color: sandybrown;
    border: none;
    cursor: default;
    height: 36px;
    outline: none;
    padding: 0;
    font-size: 14px;
    color: white;
    font-family:"Open Sans", sans-serif;
    white-space: nowrap;
    align-items: center;
    border-radius: 16px;
    vertical-align: middle;
    text-decoration: none;
    justify-content: center;
    margin-right: 20px;
}

.chip-content{
    cursor: inherit;
    display: flex;
    align-items: center;
    user-select: none;
    white-space: nowrap;
    padding-left: 12px;
    padding-right: 12px;
}

mat-form-field {
    width: 100%;
}

.code {
    font-size: small;
    font-weight: lighter;
    margin-right: 15px;
}

mat-hint {
    font-size: 12px;
}

/* For Chrome, Safari, Edge, and Opera */
.no-spinner::-webkit-inner-spin-button, 
.no-spinner::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.row-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.decimal-input {
    width: 5rem;
    border: #ccc solid 1px;
    text-align: right;
    padding-right: 5px;
}