<ng-container *transloco="let t; prefix: 'benefitsDemo'">
<div class="allergy-dialog-shell">
  <div class="dialog-head">
    <h3>{{ t('allergyFormDialog.sections.title') }}</h3>
    <button mat-icon-button (click)="close()" [attr.aria-label]="t('allergyFormDialog.actions.close')">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div class="dialog-body">
    <app-clinical-forms
      [patient]="data.patient"
      [conditions]="data.conditions"
      [procedures]="data.procedures"
      [medications]="data.medications"
      (formSubmitted)="onFormSubmitted($event)"
      (formCancelled)="close()">
    </app-clinical-forms>
  </div>
</div>
</ng-container>
