<mat-form-field>
  @if (binding.title) {
    <mat-label>{{ binding.title }}</mat-label>
  }
  <input #inputElement type="text" placeholder="{{ formControl.value?.display || binding.title || 'Search...' }}" matInput [formControl]="formControl" [matAutocomplete]="auto" [readonly]="readonly">
  <!-- [value]="(formControl.value?.display) ? formControl.value.display : ''"> -->
  @if (selectedConcept?.code) {
    <mat-hint>SNOMED CT: {{ selectedConcept.code }}</mat-hint>
  }
  @if (!selectedConcept?.code) {
    <mat-hint>{{ binding.note }}</mat-hint>
  }
  @if (formControl.value && !readonly) {
    <button matSuffix mat-icon-button aria-label="Clear" (click)="clearInput()">
      <mat-icon>close</mat-icon>
    </button>
  }
  <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="change($event)">
    @if (loading) {
      <mat-option disabled class="loading">
        <mat-spinner diameter="35"></mat-spinner>
      </mat-option>
    }
    @for (concept of autoFilter | async; track concept.code) {
      <mat-option [value]="concept">
        {{ concept.display }}
      </mat-option>
    }
  </mat-autocomplete>
</mat-form-field>