#main-panel {
    padding: 10px;
}

h3 {
    margin-top: 0px;
}

#guideLink {
    font-size: smaller;
}

.long-tooltip {
    padding-left: 3rem;
    padding-right: 3rem;
    font-weight: lighter;
    font-size: 0.9rem;
}