<div id="main-panel">
    <h3>Allergy, Hypersensitivity and Intolerance
        <button mat-icon-button color="primary" [matMenuTriggerFor]="substancePopoverMenu">
            <mat-icon>info</mat-icon>
        </button>
        <mat-menu #substancePopoverMenu="matMenu" >
            <span mat-menu-item [disableRipple]="true" (click)="$event.stopPropagation()" class="long-tooltip">
                <h4>Allergy, Hypersensitivity and Intolerance Implementation Demo</h4>
                <p>This is a demonstration of different implementation approaches for recording Allergies, Hypersensitivity and Intolerance.</p>
                <p><b>Allergy list:</b> allergy or intolerance can be recorded in a specific section of the EHR, which records 
                    the causative agent together with other details, including type (allergy, non-allergic hypersensitivity, intolerance), certainty, 
                    manifestation, and severity. This corresponds to the FHIR substance based AllergyIntolerance resource data model.</p>
                <p><b>Problem list:</b> Allergy or intolerance can also be recorded in the EHR as a problem. The problem list is normally 
                    restricted to SNOMED CT concepts from three hierarchies – Clinical finding, Event and Finding with explicit context. 
                    This corresponds either to the FHIR finding based AllergyIntolerance resource data model or the FHIR Condition resource.</p>
                <p>For more information check the <a href="https://confluence.ihtsdotools.org/x/PaDICg" target="_blank">Implementation Guide</a>
                    developed by the SNOMED International Allergy Clinical Reference Group.</p>
            </span>
        </mat-menu>
    </h3>
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
        <mat-tab label="Allergy List Approach (AllergyIntolerance FHIR resource)">
            <app-allergies-allergy-list (newManifestation)="addProblem($event)"></app-allergies-allergy-list>
        </mat-tab>
        <mat-tab label="Problem List Approach (Condition FHIR resource)">
            <app-allergies-problem-list></app-allergies-problem-list>
        </mat-tab>
    </mat-tab-group>
</div>