<ng-container *transloco="let t; prefix: 'benefitsDemo'">
<div class="record-content" *ngIf="patient">
  <div class="record-section">
    <div class="section-header">
      <h2>{{ t('dentistryRecord.sections.odontogram') }}</h2>
      <button
        mat-icon-button
        class="fhir-floating-button"
        [matTooltip]="t('dentistryRecord.tooltips.viewDentalFhir')"
        (click)="openDentalFhirDialog()">
        <mat-icon fontIcon="data_object"></mat-icon>
      </button>
    </div>

    <div class="view-mode-switch" role="group" [attr.aria-label]="t('dentistryRecord.labels.odontogramViewSelector')">
      <button
        type="button"
        class="view-mode-button"
        [class.active]="viewMode === 'anatomic'"
        (click)="setViewMode('anatomic')">
        {{ t('dentistryRecord.tabs.anatomicView') }}
      </button>
      <button
        type="button"
        class="view-mode-button"
        [class.active]="viewMode === 'rootSurface'"
        (click)="setViewMode('rootSurface')">
        {{ t('dentistryRecord.tabs.odontogramView') }}
      </button>
    </div>

    <div class="odontogram-layout">
      <app-dentistry-odontogram-anatomic
        *ngIf="viewMode === 'anatomic'"
        [quadrants]="quadrants"
        [surfaceOptions]="anatomicSurfaceOptions"
        [hoveredTooth]="hoveredTooth"
        [tooltipX]="tooltipX"
        [tooltipY]="tooltipY"
        [getTeethForQuadrant]="getTeethForQuadrantFn"
        [trackByToothId]="trackByToothIdFn"
        [isSelected]="isSelectedFn"
        [isToothAbsent]="isToothAbsentFn"
        [getLinePaths]="getLinePathsFn"
        [hasSurfaceVisual]="hasSurfaceVisualFn"
        [getSurfaceVisualType]="getSurfaceVisualTypeFn"
        [getSurfaceOverlayClass]="getSurfaceOverlayClassFn"
        [isSurfacePreview]="isSurfacePreviewFn"
        [getSurfaceOverlayPath]="getSurfaceOverlayPathFn"
        [getSurfaceFill]="getSurfaceFillFn"
        [getSurfaceStroke]="getSurfaceStrokeFn"
        [getSurfaceStrokeWidth]="getSurfaceStrokeWidthFn"
        [getToothTooltipLines]="getToothTooltipLinesFn"
        [getDisplayedNotation]="getDisplayedToothNotationFn"
        [isToothPresentOverlay]="isToothPresentOverlay.bind(this)"
        [notationSystem]="notationSystem"
        (notationSystemChange)="setNotationSystem($event)"
        (toothPinned)="pinTooth($event)"
        (toothMouseEnter)="onToothMouseEnter($event.tooth, $event.event)"
        (toothMouseMove)="onToothMouseMove($event)"
        (toothMouseLeave)="onToothMouseLeave()">
      </app-dentistry-odontogram-anatomic>

      <app-dentistry-odontogram-root-surface
        *ngIf="viewMode === 'rootSurface'"
        [getTeethForQuadrant]="getTeethForQuadrantFn"
        [isSelected]="isSelectedFn"
        [isToothAbsent]="isToothAbsentFn"
        [showRoots]="showRoots"
        [hasSurfaceVisual]="hasSurfaceVisualFn"
        [getSurfaceVisualType]="getSurfaceVisualTypeFn"
        [isSurfacePreview]="isSurfacePreviewFn"
        [hoveredTooth]="hoveredTooth"
        [tooltipX]="tooltipX"
        [tooltipY]="tooltipY"
        [notationSystem]="notationSystem"
        [surfaceCodeMesial]="SURFACE_CODE_MESIAL"
        [surfaceCodeDistal]="SURFACE_CODE_DISTAL"
        [surfaceCodeOcclusal]="SURFACE_CODE_OCCLUSAL"
        [surfaceCodeLingual]="SURFACE_CODE_LINGUAL"
        [surfaceCodeVestibular]="SURFACE_CODE_VESTIBULAR"
        [surfaceCodeRootMesial]="SURFACE_CODE_ROOT_MESIAL"
        [surfaceCodeRootDistal]="SURFACE_CODE_ROOT_DISTAL"
        [surfaceCodeRootLingual]="SURFACE_CODE_ROOT_LINGUAL"
        [surfaceCodeRootVestibular]="SURFACE_CODE_ROOT_VESTIBULAR"
        [surfaceCodeEntire]="SURFACE_CODE_COMPLETE"
        [surfaceCodePeriodontal]="SURFACE_CODE_PERIODONTAL"
        [getToothTooltipLines]="getToothTooltipLinesFn"
        [getDisplayedNotation]="getDisplayedToothNotationFn"
        [isToothPresentOverlay]="isToothPresentOverlay.bind(this)"
        (showRootsChange)="setShowRoots($event)"
        (notationSystemChange)="setNotationSystem($event)"
        (toothPinned)="pinTooth($event)"
        (toothMouseEnter)="onToothMouseEnter($event.tooth, $event.event)"
        (toothMouseMove)="onToothMouseMove($event)"
        (toothMouseLeave)="onToothMouseLeave()">
      </app-dentistry-odontogram-root-surface>

      <div class="odontogram-details">
        <mat-tab-group class="dental-side-tabs" [(selectedIndex)]="selectedSideTabIndex">
          <mat-tab [label]="t('dentistryRecord.tabs.selectedTooth')">
            <div class="side-tab-content">
              <app-dentistry-data-entry-panel
                [pinnedTooth]="pinnedTooth"
                [surfaceOnlyOptions]="getSurfaceOnlyOptions()"
                [rootSurfaceOptions]="getRootSurfaceOptions()"
                [showRoots]="showRoots"
                [selectedSiteCodes]="getPinnedSiteCodes()"
                [completeSiteCode]="SURFACE_CODE_COMPLETE"
                [periodontalSiteCode]="SURFACE_CODE_PERIODONTAL"
                [findingQuery]="getPinnedFindingQuery()"
                [filteredFindingOptions]="getFilteredFindingOptions()"
                [entryType]="getPinnedEntryType()"
                [canSave]="canSavePinnedFindingEntry()"
                [saveDisabledReason]="getSaveDisabledReason()"
                [isSaved]="isPinnedEntrySaved()"
                [pinnedToothSavedFindings]="getPinnedToothSavedFindings()"
                (exclusiveSiteToggle)="onExclusiveSiteToggle($event.siteCode, $event.checked)"
                (surfaceSiteToggle)="onSurfaceSiteToggle($event.siteCode, $event.checked)"
                (findingInputChange)="onFindingInputChange($event)"
                (findingSelected)="onFindingSelected($event)"
                (entryTypeChange)="onEntryTypeChange($event)"
                (save)="savePinnedFindingEntry()"
                (resolveFinding)="resolveSavedFinding($event)"
                (deleteFinding)="deleteSavedFinding($event)"
                (copyPostcoordinated)="copyPostcoordinatedExpression($event)">
              </app-dentistry-data-entry-panel>
            </div>

          </mat-tab>

          <mat-tab [label]="t('dentistryRecord.tabs.allRecords')">
            <app-dentistry-all-findings-list
              [items]="getDentalObservationList()"
              (resolveFinding)="resolveSavedFinding($event)"
              (deleteFinding)="deleteSavedFinding($event)"
              (focusFinding)="focusObservationTooth($event)"
              (copyPostcoordinated)="copyPostcoordinatedExpression($event)">
            </app-dentistry-all-findings-list>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</div>
</ng-container>
