<!-- subset-validator.component.html -->
<div class="layout-container">
    <div class="left-column">
        <div class="upload-controls">
            <h3>Subset Members Validator</h3>
            <p class="mb-4">Validating against {{ terminologyService.getFhirUrlParam() }}</p>
            <p class="terminal-style" *ngIf="studentSubsetDefinition">{{studentSubsetDefinition}}</p>
            <input type="file" #fileInput style="display: none" (change)="onSubsetmembersFileSelected($event)" />
            <input type="file" #fileInputDefinition style="display: none" (change)="onDefinitionFileSelected($event)" />
            <div class="buttons-panel">
                <button mat-flat-button color="primary" (click)="fileInputDefinition.click()" [disabled]="!selectedAssignment.referenceDefinition">
                  Upload Definition File
                </button>
                <button mat-flat-button color="primary" (click)="fileInput.click()">Upload Members File</button>
                <button mat-flat-button color="primary" (click)="validateAssignment()"
                [disabled]="!studentSubsetMembersDataSource.data.length">Validate</button>
                <mat-spinner *ngIf="loading" class="spinner" diameter="30"></mat-spinner>
            </div>
            <div class="blue-rounded-div" *ngIf="!loading && membersNotInRefrenceListResult">
                <h3 class="text-white mb-1">Validation Results</h3>
                <p class="validation-result">{{definitionVsMembersValidationResult}}</p>
                <p class="validation-result">{{keyConceptValidationResult}}</p>
                <p class="validation-result">{{membersNotInRefrenceListResult}}</p>
            </div>
        </div>
        <!-- Table to display the data -->
        <div *ngIf="!loading && studentSubsetMembersDataSource.data.length" class="table-container">
          <table mat-table [dataSource]="studentSubsetMembersDataSource">
            <!-- Referenced Component ID Column -->
            <ng-container matColumnDef="referencedComponentId">
              <th mat-header-cell *matHeaderCellDef>ID</th>
              <td mat-cell *matCellDef="let element">{{ element.referencedComponentId }}</td>
            </ng-container>
      
            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>Name</th>
              <td mat-cell *matCellDef="let element">{{ element.name }}</td>
            </ng-container>

            <!-- Result Column -->
            <ng-container matColumnDef="result">
                <th mat-header-cell *matHeaderCellDef>Result</th>
                <td mat-cell *matCellDef="let element">
                  <span *ngIf="membersValidationResult">
                    <span *ngIf="element?.inReferenceList?.value">OK</span>
                    <span *ngIf="!element?.inReferenceList?.value && element?.customMessage?.value">
                      {{ element.customMessage.note }}
                    </span>
                    <span *ngIf="!element?.inReferenceList?.value && !element?.customMessage?.value">
                      Error
                    </span>
                  </span>
                </td>
            </ng-container>

            <!-- Result Column -->
            <!-- <ng-container matColumnDef="scope">
                <th mat-header-cell *matHeaderCellDef>Definition</th>
                <td mat-cell *matCellDef="let element">{{ element.scope.value }}</td>
            </ng-container> -->
      
            <!-- Header and Rows -->
            <tr mat-header-row *matHeaderRowDef="studentSubsetMembersDisplayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: studentSubsetMembersDisplayedColumns;" [ngClass]="{'bg-pink': !row.inReferenceList?.value && membersValidationResult}"></tr>
          </table>
        </div>
    </div>
    <div class="right-column">
        <div *ngIf="!embeddedMode">
          <h3>Assignment</h3>
          <button mat-flat-button color="accent" [matMenuTriggerFor]="demosMenu">Selected assignment: {{ selectedAssignment?.name }}</button>
          <mat-menu #demosMenu="matMenu" class="wide-menu">
              <button mat-menu-item *ngFor="let item of assignments" (click)="setAssignment(item)">{{ item.name }}</button>
          </mat-menu>
        </div>
        <h3 *ngIf="embeddedMode">
          Assigment: {{ selectedAssignment?.name }}
        </h3>
        <h3>Instructions</h3>
        <div class="instructions">
            <ol>
                <li>1- Select assignment</li>
                <li>2- Upload definition file</li>
                <li>3- Upload members file</li>
                <li>4- Click validate</li>
            </ol>
        </div>
        <div *ngIf="!embeddedMode">
          <div>
              <h3>Reference Data</h3>
              <mat-form-field appearance="fill">
                <mat-label>Textarea</mat-label>
                <textarea matInput [(ngModel)]="assignmentsString"></textarea>
              </mat-form-field>
              <button mat-flat-button color="primary" (click)="updateAssignments()">Update Assigments</button>
          </div>
        </div>

        <!-- <div *ngIf="referenceDataDataSource.data.length" class="table-container">
            <table mat-table [dataSource]="referenceDataDataSource">
              <ng-container matColumnDef="referencedComponentId">
                <th mat-header-cell *matHeaderCellDef>ID</th>
                <td mat-cell *matCellDef="let element">{{ element.referencedComponentId }}</td>
              </ng-container>
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Name</th>
                <td mat-cell *matCellDef="let element">{{ element.name }}</td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="referenceDataDisplayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: referenceDataDisplayedColumns;"></tr>
            </table>
        </div> -->
    </div>
  </div>
  