<h2>{{ spec.title }}</h2>
@for (binding of spec.bindings; track binding; let i = $index) {
  <div class="output-panel" [ngClass]="{ 'border-question' : binding.count > 1 }">
    @for (num of [].constructor(binding.count); track num; let i = $index) {
      <div class="row control">
        @if (binding.type == 'Autocomplete') {
          <app-autocomplete-binding [binding]="binding" class="grow" (selectionChange)="optionSelected(binding.title, binding.code, $event)"></app-autocomplete-binding>
        }
        @if (binding.type == 'Select (Single)' || binding.type == 'Select (Multiple)') {
          <app-dropdown-binding [binding]="binding" class="grow" (selectionChange)="optionSelected(binding.title, binding.code, $event)"></app-dropdown-binding>
        }
        @if (binding.type == 'Options') {
          <app-radios-binding [binding]="binding" class="grow" (selectionChange)="optionSelected(binding.title, binding.code, $event)"></app-radios-binding>
        }
        @if (binding.type == 'Section header') {
          <span class="title grow">{{ binding.title }}</span>
        }
        @if (binding.type == 'Text box') {
          <app-textbox-binding [binding]="binding" class="grow" (textChange)="optionSelected(binding.title, binding.code, $event)"></app-textbox-binding>
        }
        @if (binding.type == 'Integer') {
          <app-integer-binding [binding]="binding" class="grow" (textChange)="optionSelected(binding.title, binding.code, $event)"></app-integer-binding>
        }
        @if (binding.type == 'Decimal') {
          <app-decimal-binding [binding]="binding" class="grow" (textChange)="optionSelected(binding.title, binding.code, $event)"></app-decimal-binding>
        }
        @if (binding.type == 'Checkbox') {
          <app-checkbox-binding [binding]="binding" class="grow" (selectionChange)="optionSelected(binding.title, binding.code, $event)"></app-checkbox-binding>
        }
        @if (binding.type == 'Checkbox multiple') {
          <app-checkbox-multiple-binding [binding]="binding" class="grow" (selectionChange)="optionSelected(binding.title, binding.code, $event)"></app-checkbox-multiple-binding>
        }
        <div class="actions">
          @if (binding.type != 'Section header') {
            <button mat-icon-button color="primary" [matMenuTriggerFor]="substancePopoverMenu" [disabled]="!binding.code  && !binding.ecl">
              <mat-icon>info</mat-icon>
            </button>
          }
          @if (i === binding.count - 1 && binding.repeatable) {
            <button mat-icon-button color="primary" (click)="addRow(binding)" matTooltip="Add another row">
              <mat-icon>add</mat-icon>
            </button>
          }
          @if (i === binding.count - 1 && binding.count > 1) {
            <button mat-icon-button color="primary" (click)="removeRow(binding)" matTooltip="Remove row">
              <mat-icon>remove</mat-icon>
            </button>
          }
          <mat-menu #substancePopoverMenu="matMenu">
            @if (binding.code) {
              <span mat-menu-item [disableRipple]="true" (click)="$event.stopPropagation()"
                (click)="copyToClipboard(binding.code?.code + ' |' + binding.code?.display + '|')">
                <h4 class="mb-0">Question terminology binding</h4>
                <pre>{{ binding.code?.code }} |{{ binding.code?.display }}|</pre>
              </span>
            }
            @if (binding.ecl) {
              <span mat-menu-item [disableRipple]="true" (click)="$event.stopPropagation()"
                (click)="copyToClipboard(binding.ecl)">
                <h4 class="mb-0">Answer terminology binding</h4>
                <pre>{{ binding.ecl }}</pre>
              </span>
            }
            @if (binding.unit) {
              <span mat-menu-item [disableRipple]="true" (click)="$event.stopPropagation()"
                (click)="copyToClipboard(binding.unit)">
                <h4 class="mb-0">Unit binding</h4>
                <pre>{{ binding.unit.code }} |{{ binding.unit.display }}|</pre>
              </span>
            }
          </mat-menu>
        </div>
      </div>
    }
  </div>
}