<div class="flex flex-row gap-4 justify-end flex-wrap p-2" *ngIf="authorMode">
    <button mat-flat-button color="primary" (click)="downloadSpecification()">Download Maturiry Spec</button>
    <!-- Load Maturity Spec Button -->
    <input hidden (change)="uploadSpecification($event)" #fileInput type="file" id="file" />
    <button mat-flat-button color="primary" (click)="fileInput.click()">Upload Maturity Spec</button>
</div>
<div class="question-flow-container" *ngIf="currentQuestionIndex === -3">
    <div class="question-container">
        <div>
            <h1 class="text-center">Welcome to SNOMED International’s Implementation Maturity Assessment Tool</h1>
            <p class="mb-4">
                The SNOMED International <b>Implementation Maturity Assessment Tool</b> is designed to help <b>Vendors</b>, <b>Members</b> (National Release Centers), 
                and <b>User Organizations</b> evaluate their progress in adopting and integrating SNOMED CT. This tool provides structured insights 
                into implementation maturity, highlighting strengths and areas for improvement.
            </p>
            <hr>
            <div class="flip-card-container">
                <app-flip-card #myFlipCard>
                    <!-- FRONT CONTENT -->
                    <div flipFront>
                        <div class="text-2xl mb-4 font-bold">Why use this tool?</div>
                        <p>Identify gaps, gain insights, align with best practices, and advance SNOMED CT adoption—tailored for vendors, members, and user organizations.</p>
                        <button mat-raised-button color="accent" (click)="myFlipCard.toggleFlip()">
                            More...
                        </button>
                    </div>
                    <!-- BACK CONTENT -->
                    <div flipBack>
                        <div class="text-2xl mb-2 font-bold">Why use this tool?</div>
                        <div class="home-list">
                            <div class="home-list-item">
                                <div><b>Identify Gaps</b> – Assess implementation challenges and pinpoint areas needing further development.</div>
                            </div>
                            <div class="home-list-item">
                                <div><b>Obtain actionable</b> Insights – Receive customized recommendations to advance SNOMED CT adoption.</div>
                            </div>
                            <div class="home-list-item">
                                <div><b>Align with Best Practices</b> – Benchmark your progress against internationally recognized standards.</div>
                            </div>
                            <div class="home-list-item">
                                <div><b>Tailored for Different Stakeholders</b> – Designed to support key stakeholders in their SNOMED CT journey.</div>
                            </div>
                        </div>
                        <button mat-raised-button color="accent" (click)="myFlipCard.toggleFlip()">
                            Back
                        </button>
                    </div>
                </app-flip-card>
                <app-flip-card #myFlipCard2>
                    <!-- FRONT CONTENT -->
                    <div flipFront>
                        <div class="text-2xl mb-4 font-bold">How does it work?</div>
                        <p>Assess key areas, receive a maturity score, gain improvement insights, and generate a report to enhance SNOMED CT implementation and collaboration.</p>
                        <button mat-raised-button color="accent" (click)="myFlipCard2.toggleFlip()">
                            More...
                        </button>
                        </div>
                        <!-- BACK CONTENT -->
                        <div flipBack>
                            <div class="text-2xl mb-2 font-bold">How does it work?</div>
                            <div class="home-list">
                                <div class="home-list-item">
                                    <div><b>Select Key Process Areas</b> – Choose the areas most relevant to your role and implementation needs.</div>
                                </div>
                                <div class="home-list-item">
                                    <div><b>Complete the Assessment</b> – Answer structured questions across selected key process areas.</div>
                                </div>
                                <div class="home-list-item">
                                    <div><b>Receive a Maturity Score</b> – Get a clear view of your current implementation maturity level.</div>
                                </div>
                                <div class="home-list-item">
                                    <div><b>Access Improvement Recommendations</b> – Receive targeted guidance to enhance your SNOMED CT deployment.</div>
                                </div>
                                <div class="home-list-item">
                                    <div><b>Download and Share Your Report</b> – Generate a detailed report which can be stored for internal use or shared.</div>
                                </div>
                            </div>
                        <button mat-raised-button color="accent" (click)="myFlipCard2.toggleFlip()">
                            Back
                        </button>
                    </div>
                </app-flip-card>
                <app-flip-card #myFlipCard3>
                    <!-- FRONT CONTENT -->
                    <div flipFront>
                        <div class="text-2xl mb-4 font-bold">Who should use it?</div>
                            <p>Tailored assessments for vendors, members, and user organizations to evaluate SNOMED CT integration, adoption, and clinical use.</p>
                            <button mat-raised-button color="accent" (click)="myFlipCard3.toggleFlip()">
                                More...
                            </button>
                        </div>
                        <!-- BACK CONTENT -->
                        <div flipBack>
                            <div class="text-2xl mb-2 font-bold">Who should use it?</div>
                            <div class="home-list">
                                <div class="home-list-item">
                                    <div><b>Vendors</b> – Assess SNOMED CT integration within healthcare software and applications.</div>
                                </div>
                                <div class="home-list-item">
                                    <div><b>Members</b> (National Release Centers) – Evaluate national or regional SNOMED CT adoption and management strategies.</div>
                                </div>
                                <div class="home-list-item">
                                    <div><b>User Organizations</b> – Analyze SNOMED CT use within healthcare systems, EHRs, and clinical workflows.</div>
                                </div>
                            </div>
                            <button mat-raised-button color="accent" (click)="myFlipCard3.toggleFlip()">
                                Back
                            </button>
                        </div>
                </app-flip-card>
            </div>
            <div class="button-container-space-between">
                <button  mat-flat-button color="primary" (click)="openDashboard()">
                    MATURITY ANALYTICS DASHBOARD
                </button>
                <button class="start-button" mat-flat-button color="accent" (click)="startAssessment()">
                    START ASSESSMENT
                </button>
                <input hidden (change)="loadState($event)" #fileInputState1 type="file" id="fileState" />
                <button  mat-flat-button color="primary" (click)="fileInputState1.click()">
                    LOAD PREVIOUS ASSESSMENT
                </button>
            </div>
            <div class="button-container-space-between italic text-xs pl-4 pr-4 pt-1">
                <div>Analyze a collection of assessment results</div>
                <div>Upload an assessmen to edit or view results</div>
            </div>
        </div>
    </div>
</div>
<div class="question-flow-container" *ngIf="currentQuestionIndex === -2">
    <div class="question-container" [formGroup]="responseForm">
    <h2>SNOMED Implementation Maturity assessment</h2>
    <h3>Select Stakeholder Type</h3>
    <div class="flex flex-row gap-4 justify-end flex-wrap p-2">
        <div class="flex-1">
            <mat-radio-group [formControl]="currentControl" class="options-container" [@questionAnimation]="animationState">
            <mat-radio-button *ngFor="let stakeholder of maturityQuestions.stakeHolders" [value]="stakeholder.id" class="mb-5">
                {{ stakeholder.name }}
                <p class="stakeholder-description"> {{ stakeholder.description }}</p>
            </mat-radio-button>
            </mat-radio-group>
            <div class="error-message" *ngIf="responseForm.controls['selectedStakeholder']?.invalid && responseForm.controls['selectedStakeholder']?.touched">
            Please select a stakeholder.
            </div>
        </div>
        <div class="flex-1 mb-10">
            <div *ngIf="!responseForm.controls['selectedStakeholder'].invalid">
                <h2>Stakeholder Description</h2>
                <mat-form-field class="w-full">
                    <mat-label>{{ getStakeHolder(responseForm.controls['selectedStakeholder'].value)?.name | titlecase}} name </mat-label>
                    <input matInput placeholder="Enter stakeholder name..." [formControl]="nameControl">
                    <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                    <mat-hint>Stakeholder name to be included in the final assessment report. This information is not stored.</mat-hint>
                </mat-form-field>
                <mat-form-field class="w-full mt-10" *ngIf="getStakeHolder(responseForm.controls['selectedStakeholder'].value)?.name === 'Vendor'">
                    <mat-label>System name </mat-label>
                    <input matInput placeholder="Enter the name of the software system being evaluated..." [formControl]="systemNameControl">
                    <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                    <mat-hint>Name of the software system being evaluated. This information is not stored.</mat-hint>
                </mat-form-field>
                <mat-form-field class="w-full mt-10">
                    <mat-label>User name </mat-label>
                    <input matInput placeholder="Enter the name of the user conducting the assessment..." [formControl]="authorControl">
                    <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                    <mat-hint>User name to be included in the final assessment report. This information is not stored.</mat-hint>
                </mat-form-field>
                <mat-form-field class="w-full mt-10">
                    <mat-label>Location</mat-label>
                    <input matInput type="text" placeholder="Enter a Country, City or address..." [formControl]="locationControl" [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onLocationSelected($event.option.value)" [displayWith]="displayLocation">
                      <mat-option *ngFor="let loc of locationResults" [value]="loc">{{ loc.label }}</mat-option>
                    </mat-autocomplete>
                    <mat-progress-spinner *ngIf="loadingLocationResults" matSuffix mode="indeterminate" diameter="20"></mat-progress-spinner>
                    <mat-hint *ngIf="!loadingLocationResults">Country, city or address. This information is not stored and is useful for collating results in dashboards.</mat-hint>
                </mat-form-field>
            </div>
        </div>
    </div>
    <div class="button-container-first">
        <div class="start-button button-container">
            <button mat-flat-button color="primary" (click)="startOver()">
            Back
            </button>
            <button mat-flat-button color="primary" (click)="onStakeholderSelected()"
            [disabled]="responseForm.controls['selectedStakeholder'].invalid">
            Select KPAs
            </button>
        </div>
    
        <!-- File input for loading saved state -->
        <input hidden (change)="loadState($event)" #fileInputState type="file" id="fileState" />
    
        <button class="secondary-button" mat-flat-button (click)="fileInputState.click()">
        Upload previous results
        </button>
    </div>
    
</div>
</div>

<div class="question-flow-container" *ngIf="currentQuestionIndex === -1">
    <div class="question-container" [formGroup]="responseForm" *ngIf="currentQuestionIndex < allQuestions.length">
        <h2>SNOMED Implementation Maturity assessment</h2>
        <h3>Stakeholder: {{ nameControl.value }} ({{ allQuestions[currentQuestionIndex + 1].stakeholderName }})</h3>
        <section class="example-section mt-10">
            <h4>Select Relevant Key Process Areas:</h4>
            <div *ngFor="let kpa of currentKpas" class="kpa-checkbox">
            <mat-checkbox 
                *ngIf="getKpaControl(kpa.id)" 
                [formControl]="getKpaControl(kpa.id)">
                {{ kpa.name }}<br><span class="kpa-description">{{ kpa.description }}</span>
            </mat-checkbox>
            </div>
        </section>

        <div class="button-container">
            <button mat-flat-button color="primary" (click)="startOver()">
                Back
            </button>
            <button mat-flat-button color="primary" (click)="filterKpasAndGoNext()" [disabled]="currentControl.invalid" *ngIf="currentQuestionIndex < allQuestions.length - 1">
                Start assessment
            </button>
        </div>
    </div>
</div>

<div class="question-flow-container" *ngIf="currentQuestionIndex >= 0 && currentQuestionIndex < allQuestions.length">
    <div class="question-container" [formGroup]="responseForm" *ngIf="currentQuestionIndex < allQuestions.length">
        <h2>SNOMED Implementation Maturity assessment</h2>
        <h3>Stakeholder: {{ nameControl.value }} ({{ allQuestions[currentQuestionIndex].stakeholderName }})</h3>
        <mat-progress-bar mode="determinate" [value]="((currentQuestionIndex + 1) / (allQuestions.length + 1)) * 100" class="progress-bar"></mat-progress-bar>
        <div class="progress-message">Question {{ currentQuestionIndex + 1 }} of  {{ allQuestions.length }}</div>
        <h3>Key Process Area: {{ allQuestions[currentQuestionIndex].kpaName }}</h3>
        <p class="question-text" [@questionAnimation]="animationState" [innerHTML]="allQuestions[currentQuestionIndex].question.question"></p>
        <div class="flex flex-row gap-4 justify-end flex-wrap p-2">
            <div class="flex-1">
                <mat-radio-group [formControl]="currentControl" class="options-container" [@questionAnimation]="animationState">
                    <mat-radio-button *ngFor="let option of allQuestions[currentQuestionIndex].question.options" [value]="option.score">
                        <div class="mat-radio-label-content">
                            {{ option.score }} - {{ option.text }}
                            <mat-icon *ngIf="option.example" [matTooltip]="option.example" matTooltipPosition="right">
                                help_outline
                            </mat-icon>
                            <!-- <span class="example-text">{{ option.example }}</span> -->
                        </div> 
                    </mat-radio-button>
                </mat-radio-group>
            </div>
            <div class="flex-1 w-full">
                <mat-form-field class="w-full">
                <mat-label><i>Optional comment</i></mat-label>
                <textarea matInput [formControl]="currentCommentControl" placeholder="Enter your comment" rows="5"></textarea>
                </mat-form-field>
            </div>
        </div>
        <div class="error-message" *ngIf="currentControl?.invalid && currentControl?.touched">
        Please select an option for this question.
        </div>
        <div class="button-container">
            <!-- <button mat-flat-button color="primary" (click)="startOver()" *ngIf="currentQuestionIndex == 0">
                Restart
            </button> -->
            <button mat-flat-button color="primary" (click)="goToPreviousQuestion()" *ngIf="currentQuestionIndex > 0" [disabled]="currentQuestionIndex < 1">
                Back
            </button>
            <button mat-flat-button color="primary" (click)="goToNextQuestion()" [disabled]="currentControl.invalid" *ngIf="currentQuestionIndex < allQuestions.length - 1">
                Next
            </button>
            <button mat-flat-button color="accent" [disabled]="currentControl.invalid" *ngIf="currentQuestionIndex === allQuestions.length -1" (click)="submitStakeholderResponses()">
                See results
            </button>
        </div>
        <div class="button-container-first">
            <button class="secondary-button" mat-flat-button (click)="startOver()">
                Restart assessment
            </button>
        </div>
    </div>
</div>

<div class="question-flow-container" *ngIf="currentQuestionIndex == allQuestions.length">
    <div class="question-container" [@questionAnimation]="animationState">
        <div id="pdfReport">
            <h2>SNOMED Implementation Maturity assessment results</h2>
            <h3>Stakeholder: {{ nameControl.value }} ({{ allQuestions[currentQuestionIndex - 1].stakeholderName }}) 
                <span *ngIf="systemNameControl.value"> - System: {{ systemNameControl.value }}</span>
            </h3>
            <p class="text-center" *ngIf="locationControl.value">
                Location: {{ locationControl.value.label }}
            </p>
            <p class="text-center">Assessment conducted 
                <span *ngIf="authorControl.value">by {{ authorControl.value }}, </span>
                on {{ timestampControl.value | date: 'medium' }}
            </p>
            <p class="text-center mt-10 text-lg">Based on your responses, the maturity level of the stakeholder is:</p>

            <app-maturity-results #results [maturityResponse]="responseForm.value" [allQuestions]="allQuestions"></app-maturity-results>
        </div>

        <div class="button-container">
            <button mat-flat-button color="primary" (click)="goToPreviousQuestion()" [disabled]="currentQuestionIndex < 1">
                Back
            </button>
            <button mat-flat-button color="primary" (click)="startOver()">
                Start over
            </button>
        </div>
        <div class="button-container">
            <!-- Save State Button -->
            <button mat-flat-button color="primary" (click)="saveState()">Download results</button>
            <button mat-flat-button color="primary" (click)="downloadPdf()">Download PDF</button>
        </div>
    </div>
</div>
  