.main {
    height: 50%;
    max-height: 50%;
}
.goal-section {
    padding: 10px;
}

.component-section {
    margin-left: 20px;
    margin-bottom: 24px;
}

.metric-section {
    margin-left: 40px;
    margin-bottom: 16px;
}
  
  /* Additional styles for other elements if necessary */
  
