<div class="container">
    <h2>LOINC Ontology Demonstrator</h2>
    <mat-tab-group class="tab-group">
        <mat-tab label="Order">
            <app-loinc-order
              [patient]="patient"
              (draftOrderChanged)="handleDraftOrderChanged($event)">
            </app-loinc-order>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                @if (pendingDeterminations > 0) {
                  <span
                    class="results-tab-label"
                    [matBadge]="pendingDeterminations"
                    matBadgeColor="warn"
                    matBadgeOverlap="false">
                    Results
                  </span>
                } @else {
                  <span class="results-tab-label">
                    Results
                  </span>
                }
            </ng-template>
            <app-loinc-results
              [patient]="patient"
              [serviceRequests]="draftServiceRequests"
              (pendingCountChanged)="handlePendingCountChanged($event)">
            </app-loinc-results>
        </mat-tab>
    </mat-tab-group>
</div>
