<!-- Download Options -->
<div *ngIf="shouldShowDownloadOptions()" class="download-options">
  <h3 class="download-title">
    <mat-icon>get_app</mat-icon>
    Download Options
  </h3>
  <div class="download-buttons">
    <button
      *ngFor="let button of getDownloadButtons()"
      mat-raised-button
      [color]="button.color"
      class="download-button"
      (click)="getDownloadHandler(button.id)()"
      [disabled]="isLoading"
    >
      <mat-icon>{{ button.icon }}</mat-icon>
      <span>{{ button.label }}</span>
    </button>
  </div>
</div>

<!-- FHIR Package Success Section -->
<div *ngIf="generatedPackage && selectedAction === 'fhir-package'" class="fhir-package-success">
  <h4>
    <mat-icon>check_circle</mat-icon>
    FHIR Package Generated Successfully!
  </h4>
  
  <div class="package-info">
    <p><strong>Package Name:</strong> {{ generatedPackage.manifest.name }}</p>
    <p><strong>Version:</strong> {{ generatedPackage.manifest.version }}</p>
    <p><strong>FHIR Version:</strong> {{ generatedPackage.manifest.fhirVersion }}</p>
    <p><strong>Resources Included:</strong></p>
    <ul>
      <li *ngFor="let resource of generatedPackage.manifest.resources">{{ resource.type }}: {{ resource.reference }}</li>
    </ul>
  </div>

  <div class="package-actions">
    <button mat-raised-button color="primary" (click)="onGenerateFHIRPackage()" [disabled]="isLoading">
      <mat-icon>download</mat-icon>
      <span>Download Package (.tgz)</span>
    </button>
    
    <button mat-raised-button color="accent" (click)="onFhirServerUploadToggle()">
      <mat-icon>cloud_upload</mat-icon>
      <span>{{ showFhirServerUpload ? 'Hide' : 'Show' }} FHIR Server Upload</span>
    </button>
  </div>

  <!-- FHIR Server Upload Section -->
  <div *ngIf="showFhirServerUpload" class="fhir-server-upload">
    <h5>Upload to FHIR Server</h5>
    <mat-form-field class="fhir-server-field">
      <mat-label>FHIR Server URL</mat-label>
      <input 
        matInput 
        [value]="fhirServerUrl"
        (input)="onFhirServerUrlChange($event.target.value)"
        placeholder="https://your-fhir-server.com/fhir"
      >
    </mat-form-field>
    
    <div class="upload-actions">
      <button 
        mat-raised-button 
        color="primary" 
        (click)="onUploadToFhirServer()"
        [disabled]="!fhirServerUrl || isUploading"
      >
        <mat-icon>cloud_upload</mat-icon>
        <span>{{ isUploading ? 'Uploading...' : 'Upload to Server' }}</span>
      </button>
    </div>
    
    <div *ngIf="isUploading" class="upload-progress">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      <p>Uploading resources to FHIR server...</p>
    </div>
  </div>

  <!-- FHIR Instructions -->
  <div class="fhir-instructions">
    <h5>Usage Instructions</h5>
    
    <div class="instruction-tabs">
      <button 
        [class.active]="instructionTab === 'download'"
        (click)="onInstructionTabChange('download')"
      >
        Download & Use
      </button>
      <button 
        [class.active]="instructionTab === 'package-manager'"
        (click)="onInstructionTabChange('package-manager')"
      >
        Package Manager
      </button>
      <button 
        [class.active]="instructionTab === 'curl'"
        (click)="onInstructionTabChange('curl')"
      >
        cURL Commands
      </button>
    </div>

    <div class="instruction-content">
      <!-- Download Instructions -->
      <div *ngIf="instructionTab === 'download'">
        <h6>How to use the downloaded package:</h6>
        <ol>
          <li>Extract the downloaded .tgz file</li>
          <li>Navigate to the extracted folder</li>
          <li>Upload the individual JSON files to your FHIR server using your preferred method</li>
          <li>Or use the package manager commands below for automated installation</li>
        </ol>
      </div>

      <!-- Package Manager Instructions -->
      <div *ngIf="instructionTab === 'package-manager'">
        <h6>Using FHIR Package Manager:</h6>
        <ol>
          <li>Install the FHIR Package Manager if you haven't already</li>
          <li>Navigate to the extracted package directory</li>
          <li>Run the following command:</li>
        </ol>
        <div class="code-block">
          <pre><code>fhir install .</code></pre>
        </div>
        <p>This will automatically install all resources to your configured FHIR server.</p>
      </div>

      <!-- cURL Instructions -->
      <div *ngIf="instructionTab === 'curl'">
        <h6>Manual upload using cURL:</h6>
        <p>Replace <code>YOUR_SERVER_URL</code> with your actual FHIR server URL:</p>
        
        <div class="code-example">
          <p>Upload CodeSystem:</p>
          <div class="code-block">
            <pre><code>curl -X POST "YOUR_SERVER_URL/CodeSystem" \
  -H "Content-Type: application/fhir+json" \
  -d @CodeSystem/{{ generatedPackage?.resources.codeSystem.name }}.json</code></pre>
          </div>
        </div>

        <div class="code-example">
          <p>Upload ValueSets:</p>
          <div class="code-block">
            <pre><code>curl -X POST "YOUR_SERVER_URL/ValueSet" \
  -H "Content-Type: application/fhir+json" \
  -d @ValueSet/{{ generatedPackage?.resources.valueSet.name }}.json

curl -X POST "YOUR_SERVER_URL/ValueSet" \
  -H "Content-Type: application/fhir+json" \
  -d @ValueSet/{{ generatedPackage?.resources.snomedValueSet.name }}.json</code></pre>
          </div>
        </div>

        <div class="code-example">
          <p>Upload ConceptMap:</p>
          <div class="code-block">
            <pre><code>curl -X POST "YOUR_SERVER_URL/ConceptMap" \
  -H "Content-Type: application/fhir+json" \
  -d @ConceptMap/{{ generatedPackage?.resources.conceptMap.name }}.json</code></pre>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
