<div class="reaction">
    <div class="row-centered">
        <div class="small-form-field">
            <app-autocomplete-binding [label]="reactionManifestationLabel" [binding]="reactionManifestationEcl" (selectionChange)="reactionManifestationSelected($event)"></app-autocomplete-binding>
        </div>
        <button mat-icon-button color="primary" [matMenuTriggerFor]="reactionPopoverMenu">
            <mat-icon>info</mat-icon>
        </button>
        <mat-menu #reactionPopoverMenu="matMenu" >
            <span mat-menu-item [disableRipple]="true" (click)="$event.stopPropagation()">
                <p>Terminology binding:</p>
                <pre>{{ reactionManifestationEcl }}</pre>
            </span>
        </mat-menu>
    </div>
    <mat-form-field class="form-field">
        <mat-label>Reaction Severity</mat-label>
        <mat-select [(ngModel)]="selectedSeverity">
            <mat-option *ngFor="let option of severityOptions" [value]="option" (click)="updateAllergyStr()">{{option.display}}</mat-option>
        </mat-select>
    </mat-form-field>
    <div class="row-centered">
        <div class="small-form-field">
            <app-autocomplete-binding [label]="routeLabel" [binding]="routeEcl" (selectionChange)="routeSelected($event)"></app-autocomplete-binding>
        </div>
        <button mat-icon-button color="primary" [matMenuTriggerFor]="routePopoverMenu">
            <mat-icon>info</mat-icon>
        </button>
        <mat-menu #routePopoverMenu="matMenu" >
            <span mat-menu-item [disableRipple]="true" (click)="$event.stopPropagation()">
                <p>Terminology binding:</p>
                <pre>{{ routeEcl }}</pre>
            </span>
        </mat-menu>
    </div>
</div>