<h3 class="header">
  FHIR Questionnaire Manager
</h3>
<div class="button-container bottom-spacer">
    <input type="file" (change)="onFileSelected($event)" hidden #fileInput>
    <button mat-flat-button color="accent" (click)="loadExampleQuestionnaire()" [disabled]="validating">Example form</button>
    <button mat-flat-button color="accent" (click)="fileInput.click()" [disabled]="validating">Upload</button>
    <button mat-flat-button color="accent" (click)="saveQuestionnaire()" [disabled]="validating || !questionnaire">Download</button>
    <button mat-flat-button color="accent" (click)="clearQuestionnaire()" [disabled]="validating || !questionnaire">Clear</button>
    <a mat-flat-button color="accent" href="https://lhcformbuilder.nlm.nih.gov/" target="_blank">
      Open NLM Form Editor
    </a>
    <button mat-flat-button color="accent" (click)="toggleMode()" [disabled]="validating" *ngIf="mode === 'Validator'">Manager Mode</button>
    <button mat-flat-button color="accent" (click)="toggleMode()" [disabled]="validating" *ngIf="mode === 'Manager'">Validator Mode</button>
</div>
<div class="button-container" *ngIf="mode === 'Manager'">
  <span>Connected to <a href="selectedFhirServer">{{ selectedFhirServer }}</a> as "<i>{{ selectedUserTag }}</i>"</span>
  <button mat-flat-button color="accent" (click)="postQuestionnaire()" [disabled]="validating || !questionnaire">Save</button>
  <!-- <button mat-flat-button color="accent" (click)="openDialog()" [disabled]="validating">Load</button> -->
  <button mat-flat-button color="accent" (click)="setupFhirServer()" [disabled]="validating">Setup</button>
</div>

<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" (selectedTabChange)="onTabChange($event)">
  <mat-tab label="My Questionnaires" *ngIf="mode === 'Manager'">
    <div class="tab-container">
      <app-list-questionnaires #questionnairesList [config]="listConfig"
        (validateQuestionnaire)="switchToValidateTab($event)"
        (previewQuestionnaire)="switchToPreviewTab($event)">
      </app-list-questionnaires>
    </div>
  </mat-tab>
  <mat-tab label="Preview">
    <div class="tab-container">
      <div id="myFormContainer"></div>
    </div>
  </mat-tab>
  <mat-tab label="Validate SNOMED Bindings">
    <app-validate-questionnaire #validateQuestionnaire [questionnaire]="questionnaire" 
    (questionnaireUpdated)="loadQuestionnaire($event)" (validatingQuestionnaire)="validating = $event"></app-validate-questionnaire>
  </mat-tab>
</mat-tab-group>