.outer-container {
    margin: 1rem;
    width: calc(100% - 2rem);
}

.container {
    margin: 2rem;
    width: calc(100% - 4rem);
}

.inner-container {
    width: calc(50% - 4rem);
}

.button-container {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
}